*.xlsx filter=lfs diff=lfs merge=lfs -text
DXF filter=lfs diff=lfs merge=lfs -text
PDF filter=lfs diff=lfs merge=lfs -text
STEP filter=lfs diff=lfs merge=lfs -text
doc filter=lfs diff=lfs merge=lfs -text
